---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const items = `src/timeline/items-${lang}.json`;
import { readFileSync } from "fs";
import path from "path";
let data;
try {
  const rawData = readFileSync(items, "utf8");
  data = JSON.parse(rawData);
  console.log(data);
} catch (error) {
  console.error("Error reading the file:", error);
  data = null;
}

import {
  ChevronLeft,
  ChevronRight,
  StickyNote,
  Search,
  Briefcase,
} from "lucide-astro";
---

<div class="snap-center w-full h-full py-4 px-2 md:px-4">
  <div class="flex flex-col justify-center items-center">
    <div class="flex flex-col w-full">
      <div class="flex md:flex-col">
        <Briefcase class="h-10 w-10" />
        <div class="flex flex-row">
          <h2 class="text-4xl md:my-2 font-mono text-gray-800">Timeline</h2>
        </div>
      </div>
      <div>
        <a>
          <button
            class="bg-gray-200 text-gray-600 border-gray-400 text-sm font-semibold border p-1.5 rounded-2xl transition duration-200 hover:border-orange-400 hover:bg-gray-300 mt-4"
          >
            {t("text.seemore_note")}
          </button>
        </a>
      </div>
    </div>

    <div
      id="scrollContainer"
      class="mt-4 grid grid-rows-3 overflow-x-scroll gap-2 py-3 relative font-noto"
    >
      {
        data.slice(0, 6).map(({ date, title, image, description, link }) => (
          <div class=" flex flex-col-reverse md:flex-row bg-gray-200 p-4 snap-start border-gray-500/10">
            <div class="md:w-[60%] w-full">
              <p class="text-gray-600 text-sm font-mono">{date}</p>
              <h3 class=" text-xl font-bold font-noto pt-2">{title}</h3>
              <div class="border-l-2 border-gray-400 pl-4">
                <p class="mt-2 font-sm ">{description}</p>
                <a
                  href={link}
                  class="mt-4 underline underline-offset-4 decoration-dotted	text-gray-600 transition hover:text-orange-500 font-semibold "
                >
                  {t("button.link")}
                </a>
              </div>
            </div>
            <div class="ml-2 md:w-[40%] w-full flex justify-center items-center">
              <img
                src={image}
                alt=""
                class="saturate-100 aspect-auto rounded-2xl"
                loading="lazy"
              />
            </div>
          </div>
        ))
      }
      <!-- <div class="right-2 bottom-0 flex justify-end items-end sticky gap-2">
        <button
          class="bg-gray-400/60 backdrop-blur-sm text-white rounded-full p-1.5 flex items-center justify-center border border-transparent transition duration-200 hover:border-orange-400"
          onclick="scroll(-1);"><ChevronLeft class="h-8 w-8" /></button
        >
        <button
          class="bg-gray-400/60 backdrop-blur-sm text-white rounded-full p-1.5 flex items-center justify-center border border-transparent transition duration-200 hover:border-orange-400"
          onclick="scroll(1);"><ChevronRight class="h-8 w-8" /></button
        >
      </div> -->
    </div>
  </div>
</div>
