---
import fs from "fs";
import path from "path";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const sitePath = Astro.url.href;

//YOURINFOから読み込む
const infoPath = path.resolve("YOURINFO.json");
const rawData: any = fs.readFileSync(infoPath);

const SNSPath = path.resolve("YourSNS.json");
const rawSNS: any = fs.readFileSync(SNSPath);

const jsonData = JSON.parse(rawData);
const SNSData = JSON.parse(rawSNS);

const janame = jsonData.ja[0].name;
const enname = jsonData.en[0].name;
const jabio = jsonData.ja[0].bio;
const enbio = jsonData.en[0].bio;
const jaicon = jsonData.ja[0].icon;
const enicon = jsonData.en[0].icon;

const twitterLink = SNSData.find((item: any) => item.title === "Twitter")?.link;
const twitterUsername = twitterLink.split("/").pop();

const bio = lang === "ja" ? jabio : enbio;
const icon = lang === "ja" ? jaicon : enicon;
const name = lang === "ja" ? janame : enname;
---

<head>
  <!--Gtag -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0RSTYH737D"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-0RSTYH737D");
  </script>
  <!--meta tags -->
  <meta charset="utf-8" />
  <title>{name}</title>
  <meta name="description" content={bio} />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

  <link rel="icon" href={icon} />
  </head>
<meta property="og:url" content={sitePath} />

<!--Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content={twitterUsername} />
<meta name="twitter:creator" content={twitterUsername} />
<meta name="twitter:image" content={icon} />
